.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    
}

.logo span{
    font-size: 36px;
    font-weight: 700;
    color: #008000;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
}

.column {
    flex: 1;
    min-width: 200px;
}

.heading {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #fff;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    margin-bottom: 0.5rem;
}

.link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: #008000;
}

.socials {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.bottomBar {
    text-align: center;
    font-size: 0.875rem;
    border-top: 1px solid #555;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #333;
    color: #fff;
}