.home_message{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    justify-content: space-between;
}

.video video{
    width: 500px;
}

.message{
    font-size: 23px;
    width: 600px;
    text-align: center;
    display: flex;
    align-items: center;
}

.message_div{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding-right: 10px;
}

.button{
    margin-top: 10px;
    width: 150px;
    padding: 10px;
    font-size: 24px;
    border-radius: 20px;
    background-color: rgb(34,194,87);
    border: 1px solid rgb(34,194,87);
    color: #fff;
    cursor: pointer;
    transition: 0.5s;

}

.button:hover{
    color:rgb(34,194,87);
    background-color: #fff;
}